@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);
/* Vendors */
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/**
 * Add the correct display in IE 9-.
 */
article, aside, footer, header, nav, section {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption, figure, main { /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b, strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b, strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code, kbd, samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio, video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button, input, optgroup, select, textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button, input { /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button, select { /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"], [type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details, menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
/* Sprites */
/* @import "./sprites/main.css"; */
/* Setup */
:root {
  /* Colors */

  /* Fonts */

  /* Defaults */
}
/* Media variables */
/* Tools */
/* Mixins */
/* Base styles */
/* ==========================================================================
   Base styles
   ========================================================================== */
/* stylelint-disable selector-max-universal  */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* stylelint-enable selector-max-universal */
html {
  font-family: "Roboto", -apple-system, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #5a5a5a;
  word-wrap: break-word;
  word-wrap: break-word;
}
body {
  background: #fff;
  font-family: "Roboto", -apple-system, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
audio, canvas, iframe, img, svg, video, object, input, textarea {
  vertical-align: middle;
  max-width: 100%;
}
img {
  height: auto;
  display: block;
}
textarea {
  resize: vertical;
}
button, input[type="submit"] {
  cursor: pointer;
}
input[type="text"], input[type="email"], input[type="tel"], input[type="password"], textarea {
  font-family: "Roboto", -apple-system, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #f5f5f5;
  color: #5a5a5a;
  width: 100%;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 3px;
  padding: 1em;
  outline: none;
  -webkit-transition: border-bottom-color 0.2s ease;
  transition: border-bottom-color 0.2s ease
}
input[type="text"]:active, input[type="text"]:focus, input[type="email"]:active, input[type="email"]:focus, input[type="tel"]:active, input[type="tel"]:focus, input[type="password"]:active, input[type="password"]:focus, textarea:active, textarea:focus {
  border-bottom-color: #00bcd2;
}
input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #bfbfbf;
}
input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #bfbfbf;
}
input[type="text"]::-ms-input-placeholder, input[type="email"]::-ms-input-placeholder, input[type="tel"]::-ms-input-placeholder, input[type="password"]::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #bfbfbf;
}
input[type="text"]::placeholder, input[type="email"]::placeholder, input[type="tel"]::placeholder, input[type="password"]::placeholder, textarea::placeholder {
  color: #bfbfbf;
}
input[type="text"].error, input[type="email"].error, input[type="tel"].error, input[type="password"].error, textarea.error {
  border-bottom: #ff7259 solid;
}
.svg {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em
}
.icons .svg {
  margin-bottom: 15px;
}
.icons .svg:last-of-type {
  margin: 0;
}
.svg.hover {
  color: #00bcd2;
}
h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0.7em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", -apple-system, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.1;
  font-weight: 500;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1em;
}
p:last-child {
  margin-bottom: 0;
}
a {
  color: #00bcd2;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease
}
a:active {
  color: rgb(0, 34, 38);
}
a.link {
  font-weight: 500;
  margin-right: 1em;
}
a.link:last-of-type {
  margin: 0;
}
a.link:hover {
  text-decoration: underline;
}
a.link.hover {
  text-decoration: underline;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.list {
  margin-bottom: 1em;
}
.list__item {
  position: relative;
  padding-left: 1em
}
.list__item::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #5a5a5a;
}
.subtitle {
  margin-bottom: 1em;
}
/* Layout */
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
main.main {
  font-size: 18px;
  padding: 68px calc(50% - 657.5px);
}
@media screen and (min-width: 480px) {
  main.main {
    font-size: 20px;
    padding: 96px calc(50% - 657.5px);
  }
}
@media screen and (min-width: 1200px) {
  main.main {
    padding: 135px calc(50% - 657.5px);
  }
}
.main__content {
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .main__content {
    padding: 0 40px;
  }
}
@media screen and (min-width: 960px) {
  .main__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 960px) {
  .main__left {
    width: 65%;
    padding-right: 11%;
  }
}
@media screen and (min-width: 960px) {
  .main__right {
    width: 35%;
  }
}
.main__block {
  margin-bottom: 3.5em;
}
.text-shadow {
  text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
}
.price {
  font-weight: 500;
  color: #00bcd2;
}
.params__val {
  font-weight: 300;
  display: inline-block;
  position: relative;
  margin-right: 1em
}
.params__val::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  left: calc(100% + 0.5em);
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #5a5a5a;
}
.params__val:last-child {
  margin-right: 0;
}
.params__val:last-child::after {
  display: none;
}
.custom-object-fit {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center
}
.custom-object-fit img {
  opacity: 0;
}
.typography__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* Objects */
.button, input[type="submit"] {
  display: inline-block;
  font-family: "Roboto", -apple-system, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  min-width: 155px;
  border: 2px solid #00bcd2;
  border-radius: 3px;
  padding: 14px 1.75em;
  text-align: center;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-right: 1em;
  margin-bottom: 1em
}
.button:last-of-type, input[type="submit"]:last-of-type {
  margin: 0;
}
.section .button, .section input[type="submit"] {
  width: 100%;
  display: block;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .section .button, .section input[type="submit"] {
    width: auto;
  }
}
.button--fill-blue, input[type="submit"] {
  background-color: #00bcd2;
  color: #fff
}
.button--fill-blue:hover, input[type="submit"]:hover {
  background-color: transparent;
  color: #00bcd2;
}
.button--fill-blue.hover, input[type="submit"].hover {
  background-color: transparent;
  color: #00bcd2;
}
.arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 2px solid white;
  border-top: none;
  border-right: none;
  border-color: currentColor;
  background-color: transparent;
  cursor: pointer
}
.product .arrow {
  display: none;
  bottom: 6em;
  -webkit-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
}
.arrow::after {
  content: "";
  display: block;
  width: 250%;
  height: 250%;
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.more {
  position: relative;
  font-family: "Roboto", -apple-system, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1em;
  font-weight: 500;
  width: 100%;
  height: 40px;
  text-align: left;
  border: none;
  background-color: transparent;
  color: #00bcd2;
  padding: 0;
  padding-right: 25px;
  margin-bottom: 0.5em;
  outline: none
}
.more::after {
  border: 2px solid white;
  border-top: none;
  border-right: none;
  border-color: currentColor;
  background-color: transparent;
  cursor: pointer;
  content: "";
  display: block;
  position: absolute;
  top: 11px;
  right: 0;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.more.has-hover::after {
  top: 17px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.more + .for-more {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}
.more + .for-more .for-more__content {
  height: auto;
  padding-bottom: 2em;
}
.more.more--opened::after {
  top: 17px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
@media screen and (min-width: 480px) {
  .more {
    width: auto;
  }
}
.section-wrap:only-of-type {
  min-height: 100vh;
}
.section {
  font-size: 18px;
  padding: 34px calc(50% - 657.5px);
}
@media screen and (min-width: 480px) {
  .section {
    font-size: 20px;
    padding: 48px calc(50% - 657.5px);
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 62px calc(50% - 657.5px);
  }
}
.section:first-of-type {
  padding-top: 0;
}
.section:last-of-type {
  padding-bottom: 7em;
}
.section__inner {
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .section__inner {
    padding: 0 40px;
  }
}
.section-title {
  font-size: 2.4em;
  margin-bottom: 1em;
}
.product {
  font-size: 16px;
  position: relative;
  padding-bottom: 34px;
  color: white;
}
@media screen and (min-width: 960px) {
  .product {
    font-size: 18px;
    padding-bottom: 48px;
  }
  .product .button {
    display: none;
  }
  .product .arrow {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .product {
    font-size: 20px;
    padding-bottom: 62px;
  }
}
.product__image {
  position: relative;
  max-height: 100vh;
  overflow: hidden
}
.product__image img {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: auto;
  height: 467px;
  max-width: none;
  min-height: 467px;
}
@media screen and (min-width: 700px) {
  .product__image img {
    width: 100%;
    height: auto;
    left: 0;
    -webkit-transform: none;
            transform: none;
  }
}
.product__image::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.4;
}
.product__content {
  position: absolute;
  top: 55%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: white;
  padding: 0 15px;
}
@media screen and (min-width: 700px) {
  .product__content {
    top: 50%;
  }
}
.product__title {
  font-size: 2.25em;
}
@media screen and (min-width: 700px) {
  .product__title {
    font-size: 3.25em;
  }
}
.product__address {
  font-size: 1.5em;
  font-weight: 300;
}
.product__params + .button {
  margin-top: 2.5em;
}
@media screen and (min-width: 700px) {
  .product__params + .button {
    margin-top: 4em;
  }
}
.product__val {
  font-size: 1.2em
}
.product__val::after {
  background-color: #fff;
}
.product-info {
  font-size: 18px;
  padding: 34px calc(50% - 432px);
}
@media screen and (min-width: 480px) {
  .product-info {
    font-size: 20px;
    padding: 48px calc(50% - 432px);
  }
}
@media screen and (min-width: 1200px) {
  .product-info {
    padding: 62px calc(50% - 432px);
  }
}
.product-info__content {
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .product-info__content {
    padding: 0 40px;
  }
}
.product-info__title {
  font-size: 2.4em;
}
.product-info__price {
  font-size: 1.5em;
  margin-bottom: 1em;
}
.product-info__features, .product-info__main-info, .product-info__features-in-details, .product-info__documents {
  margin-bottom: 2em;
}
.contact-agent__agent {
  margin-bottom: 2em;
}
.contact-agent__title {
  text-align: center;
}
@media screen and (min-width: 480px) {
  .contact-agent__title {
    text-align: left;
  }
}
.contact-agent__agent-form {
  position: relative;
  overflow: hidden;
}
section.gallery {
  font-size: 18px;
  padding: 34px 0;
  overflow: hidden;
}
@media screen and (min-width: 480px) {
  section.gallery {
    font-size: 20px;
    padding: 48px 0;
  }
}
@media screen and (min-width: 1200px) {
  section.gallery {
    padding: 62px 0;
  }
}
.gallery--desktop {
  display: none;
}
@media screen and (min-width: 960px) {
  .gallery--desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.gallery--mobile {
  display: block;
  position: relative;
}
@media screen and (min-width: 960px) {
  .gallery--mobile {
    display: none;
  }
}
.gallery__main-image {
  width: 45%;
  margin-right: 1em;
}
.gallery__other-images {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -1em;
}
.gallery__image {
  display: block;
  position: relative;
  width: calc(33.33333% - 1em);
  margin-right: 1em;
  margin-bottom: 1em
}
.gallery__main-image .gallery__image {
  width: 100%;
}
.gallery__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__image::after {
  content: "View gallery";
  font-family: "Open Sans", -apple-system, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  display: block;
  position: absolute;
  width: 100%;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 1em;
  color: transparent;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.gallery__main-image .gallery__image::after {
  font-size: 1.2em;
}
.gallery__image::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.gallery__image:hover::after {
  top: 50%;
  color: white;
}
.gallery__image:hover::before {
  background-color: rgba(0, 0, 0, 0.5);
}
.gallery-slider {
  display: block;
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 11;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out
}
.gallery-slider.opened {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.gallery-slider__content {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  width: 65vw;
  max-width: 1070px;
}
.gallery-slider__for {
  position: relative;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.4s ease-in-out 0.1s;
  transition: all 0.4s ease-in-out 0.1s;
  margin-bottom: 60px
}
.gallery-slider.opened .gallery-slider__for {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.gallery-slider__for-item {
  height: 60vmin;
  max-height: 592px;
}
.gallery-slider__info {
  color: white;
  font-size: 0.9em;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.4s ease-in-out 0.2s;
  transition: all 0.4s ease-in-out 0.2s
}
.gallery-slider.opened .gallery-slider__info {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.gallery--mobile .gallery-slider__info {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70px;
  line-height: 70px;
  margin-bottom: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.gallery-slider__amount {
  font-weight: 500;
  margin-right: 0.5em;
}
.gallery-slider__title {
  text-transform: capitalize;
}
.gallery-slider__nav {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.4s ease-in-out 0.3s;
  transition: all 0.4s ease-in-out 0.3s;
  margin-right: -1em
}
.gallery-slider.opened .gallery-slider__nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.gallery-slider__for-item, .gallery-slider__nav-item, .gallery-slider--mobile__item {
  outline: none
}
.gallery-slider__for-item img, .gallery-slider__nav-item img, .gallery-slider--mobile__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery-slider__nav-item {
  position: relative;
  height: 9.5vmin;
  max-height: 90px;
  margin-right: 1em;
  cursor: pointer
}
.gallery-slider__nav-item::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.gallery-slider__nav-item:hover::after {
  opacity: 0.7;
}
.gallery-slider__nav-item.slick-current::after {
  opacity: 0;
}
.gallery-slider--mobile__item {
  height: 58vw;
  pointer-events: none;
}
.slick-arrow {
  border: 2px solid white;
  border-top: none;
  border-right: none;
  border-color: currentColor;
  background-color: transparent;
  cursor: pointer;

  position: absolute;
  top: 50%;
  width: 35px; height: 35px;
  color: white;
  outline: none;
  text-indent: -9999px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease
}
.slick-arrow:hover {
  color: #00bcd2;
}
.slick-arrow:active, .slick-arrow:focus {
  color: rgb(0, 161, 179);
}
.slick-arrow::after {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-225deg);
          transform: translate(-50%, -50%) rotate(-225deg);
  height: 60vmin;
  width: 200px;
  max-height: 592px;
  content: "";
}
.gallery--mobile .slick-arrow {
  width: 30px;
  height: 30px;
  top: auto;
  bottom: 35px;
  z-index: 1;
}
.gallery--mobile .slick-arrow::after {
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -30%) rotate(-225deg);
          transform: translate(0, -30%) rotate(-225deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  height: 70px;
  width: 50vw;
}
.slick-next {
  right: -100px;
  -webkit-transform: translateY(-50%) rotate(225deg);
          transform: translateY(-50%) rotate(225deg)
}
.gallery--mobile .slick-next {
  right: 50%;
  -webkit-transform: translate(120px, 50%) rotate(225deg);
          transform: translate(120px, 50%) rotate(225deg);
}
.slick-prev {
  left: -100px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg)
}
.gallery--mobile .slick-prev {
  left: 50%;
  -webkit-transform: translate(-120px, 50%) rotate(45deg);
          transform: translate(-120px, 50%) rotate(45deg);
}
.gallery-slider__close {
  font-size: 3em;
  display: block;
  position: absolute;
  top: 20px; right: 20px;
  background: transparent;
  border: none;
  border-radius: 0;
  color: white;
  padding: 0;
  outline: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease
}
.gallery-slider__close:hover {
  color: #00bcd2;
}
.gallery-slider__close:active, .gallery-slider__close:focus {
  color: rgb(0, 161, 179);
}
.gallery-slider__close.hover {
  color: #00bcd2;
}
.more-offers {
  font-size: 16px;
}
@media screen and (min-width: 480px) {
  .more-offers {
    font-size: 18px;
  }
}
@media screen and (min-width: 960px) {
  .more-offers {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .more-offers__offers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.watch-video__video {
  position: relative;
  padding-bottom: 56%;
}
.watch-video__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
.ytp-cued-thumbnail-overlay:hover .ytp-large-play-button-bg {
  fill: #00bcd2;
}
.head {
  font-size: 16px;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .head {
    font-size: 20px;
  }
}
.head__image {
  position: relative;
  height: 524px
}
.head__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.head__image::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.4;
}
.head__title {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  top: 75%;
  font-size: 3.25em;
  color: white;
}
.headings__text {
  margin-bottom: 3.5em;
}
.icons__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.icons__block {
  height: 188px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 40px;
}
.icons__bgc-black {
  font-size: 3em;
  color: white;
  background-color: #5a5a5a;
}
.icons__bgc-gray {
  background-color: #f5f5f5;
}
.icons__bgc-white {
  font-size: 1.5em;
}
.icons__pair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header.header {
  font-size: 18px;
  position: fixed;
  left: 0; right: 0;
  background-color: transparent;
  padding: 0 calc(50% - 900px);
  z-index: 10;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
@media screen and (min-width: 1200px) {
  header.header {
    font-size: 20px;
  }
}
header.header.header--sticky, header.header.header--mobile {
  background-color: #fff;
}
.toolbar-fixed header.header {
  position: relative;
  background-color: transparent;
}
.toolbar-vertical header.header {
  position: relative;
  background-color: transparent;
}
.typography header.header {
  position: absolute;
}
.typography header.header.header--sticky {
  top: 136px;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  padding: 25px 15px
}
.header--mobile .header__content {
  height: 100vh;
}
@media screen and (min-width: 480px) {
  .header__content {
    padding: 40px;
  }
}
@media screen and (min-width: 1050px) {
  .header__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__menu {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center
}
.header--mobile .header__menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 20vh;
  padding-bottom: 70px;
}
@media screen and (min-width: 1050px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
header.header .button {
  font-size: 0.8em;
}
header.header--mobile .button {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0;
}
.header--mobile .nav {
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.header--mobile .nav__menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 0;
}
.nav__item {
  margin-right: 2em
}
.header--mobile .nav__item {
  margin-right: 0;
  margin-bottom: 2em;
}
.header--mobile .nav__item:last-child {
  margin-bottom: 0;
}
.nav__link {
  display: block;
  font-size: 0.8em;
  color: #fff
}
.nav__link:hover {
  color: #00bcd2 !important;
  text-decoration: none;
}
.header--sticky .nav__link {
  color: #5a5a5a;
}
.header--mobile .nav__link {
  color: #5a5a5a;
  font-size: 1.2em;
}
.toolbar-fixed .nav__link {
  color: #5a5a5a;
}
@media screen and (min-width: 1050px) {
  .nav__link {
    padding: 1em;
  }
}
.nav__link.nav__link--active {
  color: #00bcd2 !important;
}
.logo {
  position: relative;
  z-index: 1;
}
.logo__text {
  display: block;
  font-size: 1.2em;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2.4px
}
.logo__text:hover {
  text-decoration: none;
}
.logo__text:active {
  color: #fff;
}
.header--sticky .logo__text {
  color: #5a5a5a;
}
.header--mobile .logo__text {
  color: #5a5a5a;
}
.toolbar-fixed .logo__text {
  color: #5a5a5a;
}
.toolbar-vertical .logo__text {
  color: #5a5a5a;
}
.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.features__item {
  width: 50%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 35px;
  padding-top: 40px;
  margin-bottom: 20px
}
.features__item.area {
  background-image: url(../assets/area.svg);
}
.features__item.bath {
  background-image: url(../assets/bath.svg);
}
.features__item.bed {
  background-image: url(../assets/bed.svg);
}
.features__item.park {
  background-image: url(../assets/car.svg);
}
@media screen and (min-width: 800px) {
  .features__item {
    width: 25%;
    background-position: 0 50%;
    background-size: 30px;
    padding-left: 40px;
    padding-top: 0;
    margin-bottom: 0;
  }
}
.features-in-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.features-in-details__block {
  padding-right: 2em;
  width: 100%;
  margin-bottom: 2em;
}
@media screen and (min-width: 800px) {
  .features-in-details__block {
    width: 33.33333%;
    margin-bottom: 0;
  }
}
.features-in-details__val {
  margin-left: 4px;
  white-space: nowrap;
}
.documents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.documents__item {
  padding: 0;
  padding-right: 1em;
  margin-bottom: 1em;
  width: 100%;
}
@media screen and (min-width: 800px) {
  .documents__item {
    width: 33.33333%;
    margin-bottom: 0;
  }
}
.documents__link {
  position: relative;
  padding-left: 35px;
  color: #5a5a5a
}
.documents__link:hover {
  color: #00bcd2;
  text-decoration: none;
}
.documents__link .document-svg {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 26px;
  height: auto;
}
footer.footer {
  font-size: 14px;
  padding: 0 calc(50% - 400px);
  background-color: #f5f5f5;
}
@media screen and (min-width: 960px) {
  footer.footer {
    font-size: 16px;
    padding: 0 calc(50% - 657.5px);
  }
}
.footer__content {
  padding: 35px 15px;
}
@media screen and (min-width: 480px) {
  .footer__content {
    padding: 60px 40px;
  }
}
@media screen and (min-width: 960px) {
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.footer__company-info {
  display: block;
  padding-bottom: 1.5em;
}
@media screen and (min-width: 480px) {
  .footer__company-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 960px) {
  .footer__company-info {
    display: block;
    width: 45%;
  }
}
@media screen and (min-width: 480px) {
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 33.33333%;
  }
}
@media screen and (min-width: 960px) {
  .footer__social {
    width: 100%;
  }
}
.footer__offices {
  width: 100%;
  display: block;
}
@media screen and (min-width: 480px) {
  .footer__offices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 960px) {
  .footer__offices {
    width: 55%;
  }
}
.footer__copyright {
  width: 100%;
}
.company-info {
  padding-bottom: 1.5em;
}
@media screen and (min-width: 480px) {
  .company-info {
    padding-right: 3em;
    width: 66.66667%;
  }
}
@media screen and (min-width: 960px) {
  .company-info {
    width: 100%;
  }
}
.company-info__title {
  font-size: 1.13em;
  margin-bottom: 1.13em;
}
.social-buttons {
  font-size: 20px;
  padding-bottom: 0.5em
}
.social-buttons:last-of-type {
  padding-bottom: 0;
}
.footer .social-buttons {
  padding-bottom: 0.5em;
}
.social-button {
  color: #bfbfbf;
  display: inline-block;
  margin-right: 1.25em
}
.social-button:hover {
  color: #00bcd2;
}
.social-button:active {
  color: rgb(0, 34, 38);
}
.social-button:last-child {
  margin-right: 0;
}
.social-button.hover {
  color: #00bcd2;
}
.office {
  padding-bottom: 1.5em
}
.office:last-child {
  padding-right: 0;
}
@media screen and (min-width: 480px) {
  .office {
    width: 33.33333%;
    padding-right: 2em;
  }
}
.office__title {
  font-size: 1.13em;
  margin-bottom: 1.13em;
}
.office__dist:not(:last-child) {
  margin-bottom: 0;
}
.copyright {
  font-size: 0.9em;
}
.agent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .agent {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }
}
.agent__image {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 96px;
  height: 96px;
  margin-bottom: 1em
}
.agent__image img {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (min-width: 480px) {
  .agent__image {
    margin-right: 1em;
    margin-bottom: 0;
  }
}
.agent__name {
  font-size: 1.2em;
  font-weight: 500;
  color: #5a5a5a;
}
@media screen and (min-width: 480px) {
  .agent__name {
    margin-bottom: 0.4em;
  }
}
.agent__phone {
  display: block;
  color: #00bcd2;
  margin-bottom: 1em;
}
@media screen and (min-width: 480px) {
  .agent__phone {
    display: inline-block;
    margin-right: 1.5em;
    margin-bottom: 0;
  }
}
.agent__social-buttons {
  display: inline-block;
  font-size: 1.3em;
}
@media screen and (min-width: 480px) {
  .agent__social-buttons {
    font-size: 1em;
  }
}
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin-right: -1em;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 0.7s ease-in-out, -webkit-transform 0.7s cubic-bezier(.55, -1.6, .44, 1.6);
  transition: opacity 0.7s ease-in-out, -webkit-transform 0.7s cubic-bezier(.55, -1.6, .44, 1.6);
  transition: opacity 0.7s ease-in-out, transform 0.7s cubic-bezier(.55, -1.6, .44, 1.6);
  transition: opacity 0.7s ease-in-out, transform 0.7s cubic-bezier(.55, -1.6, .44, 1.6), -webkit-transform 0.7s cubic-bezier(.55, -1.6, .44, 1.6)
}
.hidden form {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
}
form > div {
  display: inline-block;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 1em;
  margin-bottom: 1em
}
form > div:last-child {
  margin-bottom: 0;
}
form > div[role=contentinfo] {
  width: 100%;
}
@media screen and (min-width: 960px) {
  form > div {
    width: calc(50% - 1em);
  }
}
form > div.js-form-type-textarea, form > div.form-actions {
  width: 100% !important;
}
form > div.form-actions {
  padding-top: 1em;
}
/* classes for animation form inputs */
.transition-to-left, .transition-to-right, .transition-to-bottom {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease
}
.transition-to-left.delay, .transition-to-right.delay, .transition-to-bottom.delay {
  -webkit-transition: opacity 0.5s ease 0.1s, -webkit-transform 0.5s ease 0.1s;
  transition: opacity 0.5s ease 0.1s, -webkit-transform 0.5s ease 0.1s;
  transition: transform 0.5s ease 0.1s, opacity 0.5s ease 0.1s;
  transition: transform 0.5s ease 0.1s, opacity 0.5s ease 0.1s, -webkit-transform 0.5s ease 0.1s;
}
.transition-to-bottom {
  width: 100%;
}
.hidden .transition-to-left {
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.hidden .transition-to-right {
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.hidden .transition-to-bottom {
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.offer {
  width: 100%;
  margin-bottom: 2em;
}
@media screen and (min-width: 768px) {
  .offer {
    width: calc(33.33333% - 0.667em);
    margin-right: 1em;
  }
  .offer:last-child {
    margin-right: 0;
  }
}
.offer__image {
  display: block;
  position: relative;
  height: 48vw;
  margin-bottom: 1.5em;
  text-decoration: none
}
.offer__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.offer__image::after {
  content: "View offer";
  font-size: 1.2em;
  display: block;
  position: absolute;
  width: 100%;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 1em;
  color: transparent;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.offer__image::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.offer__image:hover::after {
  top: 50%;
  color: white;
}
.offer__image:hover::before {
  background-color: rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 768px) {
  .offer__image {
    height: 16.5vw;
    max-height: 286px;
  }
}
.offer__title {
  font-size: 1.2em;
  margin-bottom: 0.3em;
}
.offer__price {
  margin-bottom: 0.5em;
}
.great {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center
}
.great h2 {
  font-size: 3.25em;
  margin-bottom: 0.4em;
}
.great p {
  font-size: 1.2em;
}
.great__try-again {
  font-size: 0.9em;
}
#panels-ipe-tray .ipe-category-picker-top {
  height: 50vh;
}
#panels-ipe-tray .ipe-tab, #panels-ipe-tray .ipe-tab:last-child {
  -webkit-box-shadow: none;
          box-shadow: none;
}
#panels-ipe-tray .ipe-tab[data-tab-id="change_layout"], #panels-ipe-tray .ipe-category, #panels-ipe-tray .ipe-category-picker-search {
  display: none;
}
#panels-ipe-tray .ipe-tab[data-tab-id="manage_content"] {
  border-left: 1px solid darkgray;
  border-top-left-radius: 5px;
  right: -5px;
}
#panels-ipe-tray .ipe-create-category.ipe-category {
  display: block;
}
#panels-ipe-tray form > div {
  width: 100%;
}
#panels-ipe-tray input[type="text"], #panels-ipe-tray input[type="email"], #panels-ipe-tray input[type="tel"], #panels-ipe-tray input[type="password"], #panels-ipe-tray textarea {
  padding: 0.25em;
  font-size: 16px;
}
#panels-ipe-tray .button, #panels-ipe-tray input[type="submit"] {
  height: 45px;
  padding: 0 0.5em;
  font-size: 18px;
  min-width: auto;
  background-color: #00bcd2;
  color: #fff;
  margin: 0 5px;
}
#panels-ipe-tray .button:hover, #panels-ipe-tray input[type="submit"]:hover {
  background-color: transparent;
  color: #00bcd2;
  border-color: #00bcd2;
}
#panels-ipe-tray .ipe-form label {
  font-size: 18px;
}
#panels-ipe-tray .description {
  font-size: 14px;
}
#panels-ipe-tray .vertical-tabs {
  font-size: 18px;
}
#panels-ipe-tray .ipe-tab a {
  color: #5a5a5a;
}
#panels-ipe-tray .ipe-tab.active a, #panels-ipe-tray .ipe-tab a:hover {
  color: #00bcd2;
  border-bottom: 3px solid #00bcd2;
}
#panels-ipe-tray .ipe-category:hover, #panels-ipe-tray .ipe-category.active {
  border-color: #00bcd2;
}
#panels-ipe-tray .ipe-category.active:after {
  border-bottom-color: #00bcd2;
}
#panels-ipe-tray .ipe-blockpicker-item a:hover {
  color: #00bcd2;
  border-color: #00bcd2;
}
#panels-ipe-tray .vertical-tabs__menu {
  width: 100%;
}
#panels-ipe-tray .filter-wrapper {
  font-size: 14px;
}
.ipe-actions a {
  color: #5a5a5a;
}
.ipe-actions a:hover {
  color: #00bcd2;
}
#auth_box {
  width: 40%;
}
@media screen and (max-width: 960px) {
  #auth_box {
    width: 90%;
  }
}
#auth_box input[type="text"], #auth_box input[type="password"] {
  font-family: "Roboto", -apple-system, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #f5f5f5;
  color: #5a5a5a;
  width: 100%;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 3px;
  padding: 1em;
  outline: none;
  -webkit-transition: border-bottom-color 0.2s ease;
  transition: border-bottom-color 0.2s ease;
}
#auth_box input[type="text"]:active, #auth_box input[type="text"]:focus, #auth_box input[type="password"]:active, #auth_box input[type="password"]:focus {
  border-bottom-color: #00bcd2;
}
#auth_box input[type="text"]::-webkit-input-placeholder, #auth_box input[type="password"]::-webkit-input-placeholder {
  color: #bfbfbf;
}
#auth_box input[type="text"]:-ms-input-placeholder, #auth_box input[type="password"]:-ms-input-placeholder {
  color: #bfbfbf;
}
#auth_box input[type="text"]::-ms-input-placeholder, #auth_box input[type="password"]::-ms-input-placeholder {
  color: #bfbfbf;
}
#auth_box input[type="text"]::placeholder, #auth_box input[type="password"]::placeholder {
  color: #bfbfbf;
}
@media screen and (min-width: 960px) {
  #auth_box form > div {
    width: calc(100% - 1em);
  }
}
#auth_box .description {
  font-size: 16px;
  margin: 10px 0;
}
.toolbar .toolbar-bar {
    position: fixed;
}
/* Components */
.company-link {
  padding-bottom: 1.5em;
}
@media screen and (min-width: 480px) {
  .company-link {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media screen and (min-width: 960px) {
  .company-link {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}
.humburger {
  position: relative;
  width: 29px;
  height: 25px;
  color: white;
  border: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  outline: none;
  z-index: 1;
  background-color: transparent
}
.humburger::before, .humburger::after {
  content: "";
}
.humburger::before, .humburger::after, .humburger span {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: currentColor;
  border-radius: 3px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.humburger::before {
  top: 0;
}
.humburger span {
  top: 10.5px;
}
.humburger::after {
  bottom: 0;
}
.humburger:hover::before, .humburger:active::before {
  top: 3px;
}
.humburger:hover::after, .humburger:active::after {
  bottom: 3px;
}
.humburger:focus::before {
  top: 0;
}
.humburger:focus::after {
  bottom: 0;
}
.humburger.humburger--active:focus::before {
  top: 3px;
}
.humburger.humburger--active:focus::after {
  bottom: 3px;
}
.header--sticky .humburger {
  color: #5a5a5a;
}
.header--mobile .humburger {
  color: #5a5a5a;
}
.toolbar-fixed .humburger {
  color: #5a5a5a;
}
.toolbar-vertical .humburger {
  color: #5a5a5a;
}
@media screen and (min-width: 1050px) {
  .humburger {
    display: none;
  }
}
.map__image {
  width: 100%;
}

/*# sourceMappingURL=main.css.map*/