{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
] %}
<div{{ attributes.addClass(classes) }}>
    <section class="product" id="overview">
        <div class="product__image">{{ content.field_product_image|field_value }}</div>
        <div class="product__content">
            <h1 class="text-shadow product__title">{{ content.field_product_title|field_value }}</h1>
            <p class="text-shadow product__address">{{ content.field_product_address|field_value }}</p>
            <ul class="product__params params">
                {% for key, item in content.field_product_params|field_value %}
                    <li class="text-shadow product__val params__val">{{ item }}</li>
                {% endfor %}
            </ul>
            <a class="button button--fill-blue" href="#contact-agent">Contact agent</a>
        </div>
        <div class="arrow"></div>
    </section>
</div>
