{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
] %}
<div{{ attributes.addClass(classes) }}>
    <footer class="footer">
        <div class="footer__content">
            <div class="footer__company-info">
                <div class="company-info">
                    {% if content.field_company_info_title|field_value is not empty %}
                        <h3 class="company-info__title">{{ content.field_company_info_title|field_value }}</h3>
                    {% endif %}
                    {% if content.field_company_info_text|field_value is not empty %}
                        <p class="company-info__text">{{ content.field_company_info_text|field_value }}</p>
                    {% endif %}
                </div>
                <div class="footer__social">
                    {% if content.field_company_link|field_value is not empty %}
                        <div class="company-link">
                            <a target="_blank" class="company-link__link link"
                               href="{{ content.field_company_link[0]['#url'] }}">{{ content.field_company_link[0]['#title'] }}</a>
                        </div>
                    {% endif %}
                    <div class="social-buttons">
                        {% if content.field_social_button_twitter[0]['#url'] is not empty %}
                            <a class="social-button" href="{{ content.field_social_button_twitter[0]['#url'] }}"><i
                                        class="fab fa-twitter"></i></a>
                        {% endif %}
                        {% if content.field_social_button_facebook[0]['#url'] is not empty %}
                            <a class="social-button" href="{{ content.field_social_button_facebook[0]['#url'] }}"><i
                                        class="fab fa-facebook-f"></i></a>
                        {% endif %}
                        {% if content.field_social_button_instagram[0]['#url'] is not empty %}
                            <a class="social-button" href="{{ content.field_social_button_instagram[0]['#url'] }}"><i
                                        class="fab fa-instagram"></i></a>
                        {% endif %}
                        {% if content.field_social_button_linkedin[0]['#url'] is not empty %}
                            <a class="social-button" href="{{ content.field_social_button_linkedin[0]['#url'] }}"><i
                                        class="fab fa-linkedin-in"></i></a>
                        {% endif %}
                        {% if content.field_social_button_google_plus[0]['#url'] is not empty %}
                            <a class="social-button" href="{{ content.field_social_button_google_plus[0]['#url'] }}"><i
                                        class="fab fa-google-plus-g"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="footer__offices">
                {{ content.field_footer_offices|field_value }}
            </div>
            <div class="footer__copyright">
                <div class="copyright">{{ content.field_footer_copyright|field_value }}</div>
            </div>
        </div>
    </footer>
</div>