{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
] %}
<div{{ attributes.addClass(classes) }}>
    <section class="product-info" id="features">
        <div class="product-info__content">
            {% if content.field_product_info_title|field_value is not empty %}
                <h2 class="product-info__title">{{ content.field_product_info_title|field_value }}</h2>
            {% endif %}
            {% if content.field_product_info_price|field_value is not empty %}
                <p class="product-info__price price">{{ content.field_product_info_price|field_value }}</p>
            {% endif %}
            {% if (content.field_features_item_area|field_value is not empty) and (content.field_features_item_bath|field_value is not empty) and (content.field_features_item_bed|field_value is not empty) and (content.field_features_item_park|field_value is not empty) %}
                <div class="product-info__features">
                    <ul class="features">
                        <li class="features__item area">{{ content.field_features_item_area|field_value }}</li>
                        <li class="features__item bath">{{ content.field_features_item_bath|field_value }}</li>
                        <li class="features__item bed">{{ content.field_features_item_bed|field_value }}</li>
                        <li class="features__item park">{{ content.field_features_item_park|field_value }}</li>
                    </ul>
                </div>
            {% endif %}
            {% if content.field_product_info_main_info|field_value is not empty %}
                <div class="product-info__main-info">{{ content.field_product_info_main_info|field_value }}</div>
            {% endif %}
            {% if content.field_more_info|field_value is not empty %}
                <div class="product-info__more">
                    <button class="more-info more">More Info</button>
                    <div class="for-more">
                        <div class="for-more__content">
                            <ul class="list">
                                <p>More information about property:</p>
                                {% for key, item in content.field_more_info|field_value %}
                                    <li class="list__item">{{ item }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if content.field_features_details_block|field_value is not empty %}
                <div class="product-info__features-in-details">
                    <div class="features-in-details">
                        {{ content.field_features_details_block|field_value }}
                    </div>
                </div>
            {% endif %}
            {% if content.field_product_info_documents|field_value is not empty %}
                <div class="product-info__documents">
                    <h4 class="subtitle">Property documents</h4>
                    <div class="documents">
                        {{ content.field_product_info_documents|field_value }}
                    </div>
                </div>
            {% endif %}
            {% if content.field_product_info_more_location|field_value is not empty %}
                <div class="product-info__more">
                    <button class="location more">Location</button>
                    <div class="for-more">
                        <div class="map">{{ content.field_product_info_more_location }}</div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
</div>
