{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
] %}
<div{{ attributes.addClass(classes) }}>
    <header class="header">
        <div class="header__content">
            {% if content.field_header_logo|field_value is not empty %}
                <div class="logo"><a class="logo__text" href="/">{{ content.field_header_logo|field_value }}</a></div>
            {% endif %}
            <button class="humburger"><span></span></button>
            <div class="header__menu">
                <nav class="nav">
                    <ul class="nav__menu">
                        {% for key, item in content.field_header_menu|field_value %}
                            <li class="nav__item"><a class="nav__link" href="{{ item['#url'] }}">{{ item['#title'] }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
                <a class="button button--fill-blue" href="#contact-agent">Contact agent</a>
            </div>
        </div>
    </header>
</div>
