{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'section',
] %}
<div{{ attributes.addClass(classes) }}>
    <section class="contact-agent" id="contact-agent">
        <div class="section__inner contact-agent__content">
            <h3 class="contact-agent__title section-title">Contact agent</h3>
            <div class="contact-agent__agent">
                <div class="agent">
                    {% if content.field_agent_image is not empty %}
                        <div class="agent__image">{{ content.field_agent_image|field_value }}</div>
                    {% endif %}
                    <div class="agent__info">
                        {% if content.field_agent_name is not empty %}
                            <div class="agent__name">{{ content.field_agent_name|field_value }}</div>
                        {% endif %}
                        {% if content.field_agent_phone is not empty %}
                            <div class="agent__phone">{{ content.field_agent_phone|field_value }}</div>
                        {% endif %}
                        <div class="agent__social-buttons">
                            {% if content.field_social_button_email[0]['#url'] is not empty %}
                                <a class="agent__social-link social-button" href="{{ content.field_social_button_email[0]['#url'] }}">
                                    <svg class="svg" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px"
                                         y="0px"
                                         viewBox="0 0 90 90" style="enable-background:new 0 0 90 90;"
                                         xml:space="preserve"
                                         width="512px" height="512px">
                                        <path d="M2.97,21.428c2.441,1.312,36.241,19.468,37.499,20.144c1.259,0.676,2.889,1.002,4.531,1.002    c1.643,0,3.271-0.326,4.531-1.002c1.258-0.676,35.058-18.831,37.498-20.144C89.472,20.117,91.784,16,87.297,16H2.703    C-1.781,16,0.527,20.117,2.97,21.428z M88.064,31.428c-2.773,1.447-36.835,19.26-38.533,20.144    c-1.699,0.887-2.889,1.002-4.531,1.002s-2.832-0.115-4.531-1.002C38.771,50.688,4.711,32.875,1.936,31.428    C-0.017,30.411,0,31.604,0,32.526c0,0.922,0,36.679,0,36.679C0,71.301,2.792,74,4.959,74h80.082C87.208,74,90,71.301,90,69.205    c0,0,0-35.757,0-36.679C90,31.604,90.02,30.411,88.064,31.428z" fill="currentColor"></path>
                                    </svg>
                                </a>
                            {% endif %}
                            {% if content.field_social_button_twitter[0]['#url'] is not empty %}
                                <a class="agent__social-link social-button" href="{{ content.field_agent_twitter|field_value }}"><i class="fab fa-twitter"></i></a>
                            {% endif %}
                            {% if content.field_social_button_facebook[0]['#url'] is not empty %}
                                <a class="agent__social-link social-button" href="{{ content.field_agent_facebook|field_value }}"><i class="fab fa-facebook-f"></i></a>
                            {% endif %}
                            {% if content.field_social_button_linkedin[0]['#url'] is not empty %}
                                <a class="agent__social-link social-button" href="{{ content.field_agent_linkedin|field_value }}"><i class="fab fa-linkedin-in"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-agent__agent-form">
                {% if content.field_agent_form is not empty %}
                    {{ content.field_agent_form }}
                {% endif %}
            </div>
        </div>
    </section>
</div>
