{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
] %}
<div{{ attributes.addClass(classes) }}>
    <section class="gallery" id="gallery">
        <div class="gallery--desktop">
            <div class="gallery__main-image">
                {% for key, item in content.field_gallery_image|field_value %}
                    {% if loop.first %}
                        <a class="gallery__image js-image-wrap" href="#">{{ item }}</a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="gallery__other-images">
                {% for key, item in content.field_gallery_image|field_value %}
                    {% if loop.first == false %}
                        {% if key <= 6 %}
                            <a class="gallery__image js-image-wrap" href="#">{{ item }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="gallery--mobile">
            <div class="gallery-slider--mobile">
                {% for key, item in content.field_gallery_image|field_value %}
                    <div class="gallery-slider--mobile__item js-image-wrap">{{ item }}</div>
                {% endfor %}
            </div>
            <p class="gallery-slider__info"><span class="gallery-slider__amount"></span></p>
        </div>
    </section>

    <div class="gallery-slider">
        <button class="gallery-slider__close">
            <svg class="svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="58.5px" height="51px"
                 viewBox="0 0 58.5 51" enable-background="new 0 0 58.5 51" xml:space="preserve">
                <line fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      stroke-miterlimit="10" x1="18.235" y1="15.175" x2="39.818" y2="36.175"></line>
                <line fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      stroke-miterlimit="10" x1="39.818" y1="15.175" x2="18.235" y2="36.175"></line>
            </svg>
        </button>
        <div class="gallery-slider__content">
            <div class="gallery-slider__for">
                {% for key, item in content.field_gallery_image|field_value %}
                    <div class="gallery-slider__for-item js-image-wrap">{{ item }}</div>
                {% endfor %}
            </div>
            <p class="gallery-slider__info">
                <span class="gallery-slider__amount"></span>
                <span class="gallery-slider__title"></span>
            </p>
            <div class="gallery-slider__nav">
                {% for key, item in content.field_gallery_image|field_value %}
                    <div class="gallery-slider__nav-item js-image-wrap">{{ item }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
