{#
/**
 * @file
 * Default theme implementation to webform confirmation.
 *
 * Available variables:
 * - progress: Progress bar.
 * - message: Confirmation message.
 * - back_url: URL to the previous webform submission.
 *
 * @see template_preprocess_webform_confirmation()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('webform/webform.confirmation') }}

{% if progress %}
    {{ progress }}
{% endif %}

<div class="great" {{ attributes.addClass('webform-confirmation') }}>
    {% if message %}
        {{ message }}
    {% endif %}

    {% if back %}
        <div class="webform-confirmation__back">
            <a class="great__try-again link js-webform-confirmation-back-link-ajax" href="{{ back_url }}" rel="back" title="{{ back_label }}"{{ back_attributes }}>{{ back_label }}</a>
        </div>
    {% endif %}
</div>
